In [2]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import tensorflow as tf

# datatypes in TF

- constant tf.constant
- variable tf.Variable
- placeholder tf.placeholder

In [5]:
# creating variable
zero = tf.Variable(0)

In [7]:
type(zero)

tensorflow.python.ops.variables.RefVariable

In [8]:
# creating constant
one = tf.constant(1)

In [9]:
type(one)

tensorflow.python.framework.ops.Tensor

In [10]:
new_value = tf.add(zero, one)

In [12]:
type(new_value)

tensorflow.python.framework.ops.Tensor

In [13]:
update = tf.assign(zero, new_value)

In [16]:
# cannot modify constant
# update_constant = tf.assign(one, new_value)

In [21]:
# NOTE: IF HAVE VARIABLES NEED TO EXECUTE THIS FIRST!!!!
# init_op = tf.initialize_all_variables()
init_op = tf.global_variables_initializer()

In [22]:
sess = tf.Session()

In [23]:
sess.run(init_op)

In [20]:
print(sess.run(zero))

0

In [24]:
for _ in range(5):
    sess.run(update)
    print(sess.run(zero))

1
2
3
4
5

# string operations

In [27]:
hello = tf.constant('hello')
world = tf.constant('world')

helloworld = tf.add(hello, world)

sess.run(helloworld)

b'helloworld'

In [28]:
# creating placeholdert
a = tf.placeholder(tf.float32)

In [29]:
b = a * 2

In [30]:
# feeding a placeholder with scalar
result = sess.run(b, feed_dict={a : 3})
# result = sess.run(b, {a : 3})
print(result)

6.0

In [31]:
# feeding a placeholder with vector
result = sess.run(b, feed_dict={a : [3, 4, 5]})

print(result)

[ 6.  8. 10.]

In [33]:
# feeding a placeholder with vector
result = sess.run(b, feed_dict={a : [[[3, 4, 5],[6, 7, 8]], [[31, 41, 51],[61, 71, 81]]]})

print(result)

[[[  6.   8.  10.]
  [ 12.  14.  16.]]

 [[ 62.  82. 102.]
  [122. 142. 162.]]]

In [34]:
sess.close()

In [37]:
with tf.Session() as sess:
    result = sess.run(hello + world)
    print(result)

b'helloworld'

# code with graph

In [3]:
import tensorflow as tf

In [2]:
graph = tf.get_default_graph()

In [3]:
graph.get_operations()

[]

In [4]:
a = tf.constant(10, name = 'a')

In [6]:
operations = graph.get_operations()
operations

In [7]:
b = tf.constant(20, name = 'b')

In [8]:
operations = graph.get_operations()
operations

In [9]:
# c = a + b
c = tf.add(a, b, name='c')

In [10]:
c

In [11]:
operations = graph.get_operations()
operations

[<tf.Operation 'a' type=Const>,
 <tf.Operation 'b' type=Const>,
 <tf.Operation 'c' type=Add>]

In [12]:
# d = a * b
d = tf.multiply(a, b, name='d')

In [13]:
operations = graph.get_operations()
operations

[<tf.Operation 'a' type=Const>,
 <tf.Operation 'b' type=Const>,
 <tf.Operation 'c' type=Add>,
 <tf.Operation 'd' type=Mul>]

In [14]:
# e = c * d
e = tf.multiply(c, d, name='e')

In [15]:
operations = graph.get_operations()
operations

[<tf.Operation 'a' type=Const>,
 <tf.Operation 'b' type=Const>,
 <tf.Operation 'c' type=Add>,
 <tf.Operation 'd' type=Mul>,
 <tf.Operation 'e' type=Mul>]

In [16]:
sess = tf.Session()

In [17]:
sess.run(e)

6000

In [18]:
for op in graph.get_operations(): print(op.name)

a
b
c
d
e

In [19]:
sess.close()

# TF for ML classification

In [51]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import *

In [5]:
census = pd.read_csv(r'census_data.csv')

In [6]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
age               32561 non-null int64
workclass         32561 non-null object
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income_bracket    32561 non-null object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

In [7]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# converting income_bracket target variable into 1 , 0 (<=50 ----> 0 , >50 ----> 1)

In [10]:
census.income_bracket.unique()

array([' <=50K', ' >50K'], dtype=object)

In [11]:
def lab_fix(label):
    if label ==' <=50K':
        return 0
    else:
        return 1

In [12]:
census['income_bracket'] = census['income_bracket'].apply(lab_fix)

In [13]:
census['income_bracket']

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income_bracket, Length: 32561, dtype: int64

In [32]:
# splitting into train and test sets
x_data = census.drop('income_bracket', axis=1)
y_labels = census['income_bracket']

X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.3, random_state=42)

# creating feature columns separatelly for categorical and numerical variables for TF

In [36]:
tf.feature_column

In [37]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender', ['Female', 'Male'])
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=1000)

In [38]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

In [39]:
# pull all feature columns into 1 list and call feat_cols
feat_cols = [gender,occupation, marital_status, relationship, education, workclass, native_country,age,\
             education_num, capital_gain, capital_loss, hours_per_week ]

# Create input function.

In [40]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=100, num_epochs=None, shuffle=True)

# Create Model with tf.estimator using LinearClassifier

In [41]:
model = tf.estimator.LinearClassifier(feature_columns = feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\dyada\AppData\Local\Temp\tmp_6un9th_
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\dyada\\AppData\\Local\\Temp\\tmp_6un9th_', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000022380533B48>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

# Training model

In [42]:
model.train(input_fn=input_func, steps=5000)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\dyada\Anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2655: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\dyada\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:308: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\dyada\Anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:875: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\dyada\AppData\Local\Temp\tmp_6un9th_\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 0
INFO:tensorflow:global_step/sec: 96.5037
INFO:tensorflow:loss = 112.74509, step = 100 (1.037 sec)
INFO:tensorflow:global_step/sec: 128.548
INFO:tensorflow:loss = 2535.6775, step = 200 (0.778 sec)
INFO:tensorflow:global_step/sec: 130.387
INFO:tensorflow:loss = 62.256382, step = 300 (0.767 sec)
INFO:tensorflow:global_step/sec: 132.629
INFO:tensorflow:loss = 407.75845, step = 400 (0.754 sec)
INFO:tensorflow:global_step/sec: 129.377
INFO:tensorflow:loss = 79.21795, step = 500 (0.774 sec)
INFO:tensorflow:global_step/sec: 125.491
INFO:tensorflow:loss = 177.452, step = 600 (0.796 sec)
INFO:tensorflow:global_step/sec: 131.24
INFO:tensorflow:loss = 53.703125, step = 700 (0.762 sec)
INFO:tensorflow:global_step/sec: 121.536
INFO:tensorflow:loss = 377.39838, step = 800 (0.823 sec)
INFO:tensorflow:global_step/sec: 133.334
INFO:tensorflow:loss = 52.77483, step = 900 (0.750 sec)
INFO:tensorflow:global_step/sec: 130.049
INFO:tensorflow:loss = 176.539, step = 1000 (0.770 sec)
INFO:tensorflow:global_step/sec: 129.545
INFO:tensorflow:loss = 47.21144, step = 1100 (0.772 sec)
INFO:tensorflow:global_step/sec: 126.441
INFO:tensorflow:loss = 143.38759, step = 1200 (0.790 sec)
INFO:tensorflow:global_step/sec: 123.028
INFO:tensorflow:loss = 472.3433, step = 1300 (0.813 sec)
INFO:tensorflow:global_step/sec: 129.712
INFO:tensorflow:loss = 194.85947, step = 1400 (0.771 sec)
INFO:tensorflow:global_step/sec: 126.282
INFO:tensorflow:loss = 87.28475, step = 1500 (0.792 sec)
INFO:tensorflow:global_step/sec: 130.727
INFO:tensorflow:loss = 162.10878, step = 1600 (0.765 sec)
INFO:tensorflow:global_step/sec: 134.407
INFO:tensorflow:loss = 121.904724, step = 1700 (0.744 sec)
INFO:tensorflow:global_step/sec: 128.219
INFO:tensorflow:loss = 119.27743, step = 1800 (0.780 sec)
INFO:tensorflow:global_step/sec: 129.378
INFO:tensorflow:loss = 111.01903, step = 1900 (0.773 sec)
INFO:tensorflow:global_step/sec: 126.441
INFO:tensorflow:loss = 209.76395, step = 2000 (0.791 sec)
INFO:tensorflow:global_step/sec: 121.72
INFO:tensorflow:loss = 129.6969, step = 2100 (0.822 sec)
INFO:tensorflow:global_step/sec: 125.391
INFO:tensorflow:loss = 26.83407, step = 2200 (0.798 sec)
INFO:tensorflow:global_step/sec: 128.588
INFO:tensorflow:loss = 50.444214, step = 2300 (0.778 sec)
INFO:tensorflow:global_step/sec: 125.164
INFO:tensorflow:loss = 42.717205, step = 2400 (0.799 sec)
INFO:tensorflow:global_step/sec: 125.073
INFO:tensorflow:loss = 109.37188, step = 2500 (0.800 sec)
INFO:tensorflow:global_step/sec: 129.105
INFO:tensorflow:loss = 62.19341, step = 2600 (0.776 sec)
INFO:tensorflow:global_step/sec: 128.313
INFO:tensorflow:loss = 41.97816, step = 2700 (0.779 sec)
INFO:tensorflow:global_step/sec: 124.923
INFO:tensorflow:loss = 48.030384, step = 2800 (0.799 sec)
INFO:tensorflow:global_step/sec: 122.576
INFO:tensorflow:loss = 61.8188, step = 2900 (0.816 sec)
INFO:tensorflow:global_step/sec: 126.307
INFO:tensorflow:loss = 43.573765, step = 3000 (0.792 sec)
INFO:tensorflow:global_step/sec: 131.758
INFO:tensorflow:loss = 18.050676, step = 3100 (0.759 sec)
INFO:tensorflow:global_step/sec: 130.34
INFO:tensorflow:loss = 46.645218, step = 3200 (0.767 sec)
INFO:tensorflow:global_step/sec: 123.381
INFO:tensorflow:loss = 147.54314, step = 3300 (0.811 sec)
INFO:tensorflow:global_step/sec: 118.941
INFO:tensorflow:loss = 74.40692, step = 3400 (0.841 sec)
INFO:tensorflow:global_step/sec: 118.562
INFO:tensorflow:loss = 43.62836, step = 3500 (0.843 sec)
INFO:tensorflow:global_step/sec: 123.248
INFO:tensorflow:loss = 31.534, step = 3600 (0.811 sec)
INFO:tensorflow:global_step/sec: 125.852
INFO:tensorflow:loss = 40.541904, step = 3700 (0.796 sec)
INFO:tensorflow:global_step/sec: 122.108
INFO:tensorflow:loss = 40.58058, step = 3800 (0.818 sec)
INFO:tensorflow:global_step/sec: 127.832
INFO:tensorflow:loss = 29.747225, step = 3900 (0.782 sec)
INFO:tensorflow:global_step/sec: 128.497
INFO:tensorflow:loss = 51.271584, step = 4000 (0.778 sec)
INFO:tensorflow:global_step/sec: 121.911
INFO:tensorflow:loss = 41.664326, step = 4100 (0.821 sec)
INFO:tensorflow:global_step/sec: 127.394
INFO:tensorflow:loss = 39.563313, step = 4200 (0.784 sec)
INFO:tensorflow:global_step/sec: 123.458
INFO:tensorflow:loss = 200.23569, step = 4300 (0.810 sec)
INFO:tensorflow:global_step/sec: 122.368
INFO:tensorflow:loss = 47.19353, step = 4400 (0.817 sec)
INFO:tensorflow:global_step/sec: 128.919
INFO:tensorflow:loss = 53.112663, step = 4500 (0.776 sec)
INFO:tensorflow:global_step/sec: 134.093
INFO:tensorflow:loss = 176.5526, step = 4600 (0.746 sec)
INFO:tensorflow:global_step/sec: 133.868
INFO:tensorflow:loss = 30.354837, step = 4700 (0.747 sec)
INFO:tensorflow:global_step/sec: 127.928
INFO:tensorflow:loss = 34.481728, step = 4800 (0.782 sec)
INFO:tensorflow:global_step/sec: 133.164
INFO:tensorflow:loss = 79.1625, step = 4900 (0.751 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\dyada\AppData\Local\Temp\tmp_6un9th_\model.ckpt.
INFO:tensorflow:Loss for final step: 55.26372.

# evaluate model

In [53]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle=False)

In [54]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\dyada\AppData\Local\Temp\tmp_6un9th_\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [55]:
predictions[0]

{'logits': array([-3.804737], dtype=float32),
 'logistic': array([0.0217801], dtype=float32),
 'probabilities': array([0.97821987, 0.02178011], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [56]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [57]:
final_preds[:10]

[0, 1, 1, 0, 1, 1, 1, 0, 0, 1]

In [58]:
print(classification_report(y_test, final_preds))

              precision    recall  f1-score   support

           0       0.90      0.88      0.89      7455
           1       0.64      0.68      0.66      2314

    accuracy                           0.83      9769
   macro avg       0.77      0.78      0.78      9769
weighted avg       0.84      0.83      0.84      9769